@model TaskManager.Models.TaskModel

@{
    ViewData["Title"] = "Add Task";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5 p-3">
                <div class="card-body">
                    <h1 class="display-5 text-center mb-4">Add Task</h1>
                    <form asp-controller="Task" asp-action="Add" method="post">
                            <div class="mb-3">
                                <label for="Input_Title" class="form-label">Title</label>
                                <input class="form-control completed-checkbox" id="Input_Title" name="Title" required maxlength="100" value="@Model.Title">
                                <span asp-validation-for="Title" class="text-danger"></span> 
                            </div>
                            <div class="mb-3">
                                <label for="Input_Description" class="form-label">Description</label>
                                <textarea class="form-control" id="Input_Description" name="Description" maxlength="1000">@Model.Description</textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                        </div>
                    </form>
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>


